#header {
  .menu {
    .open {
      display: block;
    }
    .close {
      display: none;
    }
  }
  &:not(.active) {
    .gnav {
      display: none;
    }
  }
  &.active {
    .menu {
      .open {
        display: none;
      }
      .close {
        display: block;
      }
    }
  }
}
