//break point
$breakpoints: (
  'sp': 'screen and (max-width: 425px)',
  'pc': 'screen and (min-width: 426px)',
) !default;
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//font
$f-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
$f-serif: "Hiragino Mincho ProN", 游明朝, "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
$f-crimson: 'Crimson Text', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
$f-tsuku:  "fot-tsukubrdgothic-std", "Hiragino Mincho ProN", 游明朝, "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;

//color
$c-white: #fff;
$c-black: #000;
$c-grey: #d2d2d2;
$c-lightgrey: #eee;
$c-darkgrey: #504e47;
$c-beige: #e4dac4;
$c-lightbeige: #f8f6ee;
$c-yellow: #f8e764;
$c-blue: #5b84c3;

//control
.sp {
  @include mq(pc) {
    display: none !important;
  }
}
.pc {
  @include mq(sp) {
    display: none !important;
  }
}
.cf {
  zoom: 1;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin fz($px) {
  @include mq(sp) {
    font-size: $px / 640 * 100 + vw;
  }
  @include mq(pc) {
    font-size: $px + px;
  }
}
