@charset 'UTF-8';
/* util */
@media screen and (min-width: 426px) and (max-width: 768px)
{
    .sp
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .sp
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .tb
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .tb
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .pc
    {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px)
{
    .pc
    {
        display: none;
    }
}

@media screen and (min-width: 769px)
{
    .st
    {
        display: none !important;
    }
}

@media screen and (max-width: 425px)
{
    .tp
    {
        display: none !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

/* /util */
/* base */
html
{
    font-size: 10px;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'fot-tsukubrdgothic-std', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #000;
    background-color: #fffbf3; 

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

a
{
    font-size: inherit;

    display: block;

    cursor: pointer; 

    color: inherit;
}

img
{
    width: 100%; 

    pointer-events: none;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p
{
    font-size: 10px;
    line-height: 1;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /base */
/* skin */
#index .seasonal .h3_01,
#index .pickup .h3_01,
#index .ranking .h3_01
#index .feature .h3_01
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 3rem;

    text-align: center;
    letter-spacing: .06em;
}
#index .seasonal .h3_01 i,
#index .pickup .h3_01 i,
#index .ranking .h3_01
#index .feature .h3_01 i
{
    font-size: 1.7rem; 

    display: block;

    margin-top: .6em;
}

#index .seasonal .ul_01,
#index .pickup .ul_01
{
    line-height: 1; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#index .seasonal .ul_01 li,
#index .pickup .ul_01 li
{
    margin-left: 50px;
}
#index .seasonal .ul_01 li:nth-child(3n+1),
#index .pickup .ul_01 li:nth-child(3n+1)
{
    margin-left: 0;
}
#index .seasonal .ul_01 li:nth-child(n+4),
#index .pickup .ul_01 li:nth-child(n+4)
{
    margin-top: 28px;
}
#index .seasonal .ul_01 li .name,
#index .pickup .ul_01 li .name
{
    font-size: 1.4rem; 

    margin-top: .4em;
}
#index .seasonal .ul_01 li .price,
#index .pickup .ul_01 li .price
{
    font-size: 1.2rem; 

    margin-top: .4em;
}
#index .seasonal .ul_01 li .stock,
#index .pickup .ul_01 li .stock
{
    font-size: 1.2rem;

    display: inline-block;

    margin-top: .6em;
    padding: .4em;

    color: #fff; 
    background-color: #d89a2f;
}
#index .seasonal .ul_01 li .stock:after,
#index .pickup .ul_01 li .stock:after
{
    content: ' ◯';
}
#index .seasonal .ul_01 li .stock.exist,
#index .pickup .ul_01 li .stock.exist
{
    background-color: #e4dac4;
}
#index .seasonal .ul_01 li .stock.exist:after,
#index .pickup .ul_01 li .stock.exist:after
{
    content: ' ×';
}

#index .ranking .ul_01
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#index .ranking .ul_01 li
{
    width: 158px;
}
#index .ranking .ul_01 li a
{
    background-color: #fff;
}

/* /skin */
/* layou */
/* /layou */
/* unique */
#header
{
    line-height: 1; 

    position: relative;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    border-bottom: 4px solid #f8e764;
    background-color: #fffbf3;
}
#header .l_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 1080px;
    height: 100%; 
    margin: 0 auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
#header .l_inner h1
{
    margin: 0 auto 24px; 

    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
#header .l_inner .menu
{
    margin-left: 10px;

    cursor: pointer;
    pointer-events: all; 

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
#header .l_inner .login
{
    margin-right: 42px; 

    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
#header .l_inner .cart
{
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
#header .l_inner .menu,
#header .l_inner .login,
#header .l_inner .cart
{
    font-size: 10px;

    margin-bottom: 26px; 

    text-align: center;
}
#header .l_inner .menu img,
#header .l_inner .login img,
#header .l_inner .cart img
{
    display: block;

    width: auto; 
    margin: 0 auto 10px;
}
#header .gnav
{
    position: absolute;
    z-index: 9;
    top: 100px;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none; 

    width: 100%;
    min-width: 1080px;
    padding: 24px 0;

    background-color: rgba(248, 246, 238, .9);

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
#header .gnav .l_box_01
{
    width: 216px; 
    padding-right: 36px;

    border-right: 1px solid #e4dac4;
}
#header .gnav .l_box_01 ul li
{
    padding: 10px 0;

    border-bottom: 1px solid #e4dac4;
}
#header .gnav .l_box_01 ul li a
{
    font-size: 1.5rem;
}
#header .gnav .l_box_01 ul li a i
{
    display: inline-block;

    width: 25px;
    margin-right: 8px;

    text-align: center; 
    vertical-align: middle;
}
#header .gnav .l_box_01 ul li a i img
{
    width: auto;
}
#header .gnav .l_box_01 div
{
    margin-top: 8px;
}
#header .gnav .l_box_01 div a img
{
    width: auto;
}
#header .gnav .l_box_02
{
    position: relative;

    width: 864px; 
    padding-left: 38px;
}
#header .gnav .l_box_02 .ttl
{
    font-size: 1.5rem;
}
#header .gnav .l_box_02 .all
{
    font-size: 1.5rem; 

    position: absolute;
    top: 0;
    right: 0;
}
#header .gnav .l_box_02 .all img
{
    display: inline-block;

    width: .4em;
    margin-right: .6rem;

    vertical-align: baseline;
}
#header .gnav .l_box_02 .future
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 1rem; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#header .gnav .l_box_02 .future li a img
{
    width: auto;
}
#header .gnav .l_box_02 .category
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 10px; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#header .gnav .l_box_02 .category dl
{
    width: 164px;
}
#header .gnav .l_box_02 .category dl dt
{
    font-size: 1.5rem; 

    margin-bottom: 10px;
}
#header .gnav .l_box_02 .category dl dt i
{
    display: inline-block;

    margin-right: .6em; 

    vertical-align: top;
}
#header .gnav .l_box_02 .category dl dt i img
{
    width: auto;
}
#header .gnav .l_box_02 .category dl dd
{
    font-size: 1.4rem; 

    margin: 6px 0 0 30px;
}

#sidebar
{
    line-height: 1; 

    width: 250px;
}
#sidebar .voice
{
    position: relative;

    width: 100%;
    height: 130px;
}
#sidebar .voice .text
{
    font-size: 1.1rem;
    line-height: 1.6; 

    padding: 1rem 2rem;

    border: 1px dotted #000;
    border-radius: 6px;
}
#sidebar .voice figure
{
    position: absolute;
    top: 18px;
    right: 12px;
}
#sidebar .voice figure figcaption
{
    font-size: 1rem; 

    position: absolute;
    top: 80px;
    right: 0;

    width: 250px;
    padding-left: 80px;

    text-align: center;
}
#sidebar nav .category
{
    background-color: #fff;
}
#sidebar nav .category dt
{
    font-size: 1.7rem; 

    margin-bottom: 0;
    padding: .4em 1em;
}
#sidebar nav .category dt:nth-child(n+2)
{
    margin-top: .4em;

    border-top: 1px solid #fffbf3;
}
#sidebar nav .category dt i
{
    display: inline-block;

    margin-right: .4em; 

    vertical-align: bottom;
}
#sidebar nav .category dt i img
{
    width: auto;
}
#sidebar nav .category dd
{
    font-size: 1.4rem; 

    margin-top: 1em;
    padding-left: 48px;
}
#sidebar nav .category dd:last-child
{
    padding-bottom: .8rem;
}
#sidebar nav div
{
    border-top: 1px solid #fffbf3;
}
#sidebar nav div a
{
    font-size: 1.3rem; 

    padding: 1em;

    background-color: #fff;
}
#sidebar .original
{
    margin-top: 12px;
    padding: 18px;

    background-color: #e4dac4;
}
#sidebar .original h4
{
    font-size: 1.8rem;
}
#sidebar .original h4 i
{
    display: inline-block;

    margin-right: .6em; 

    vertical-align: middle;
}
#sidebar .original h4 i img
{
    width: auto;
}
#sidebar .original p
{
    font-size: 1.2rem;
    line-height: 1.2;

    margin: .6em 0;

    letter-spacing: -.06rem;
}
#sidebar .menu
{
    margin-top: 12px;

    background-color: #e4dac4;
}
#sidebar .menu li a
{
    font-size: 15px; 

    padding: 12px 18px;
}
#sidebar .menu li a i
{
    display: inline-block;

    width: 25px;
    margin-right: .8em;

    text-align: center; 
    vertical-align: middle;
}
#sidebar .menu li a i img
{
    width: auto;
}
#sidebar .facebook
{
    margin-top: 12px;
    padding: 16px 20px; 

    border: 1px solid #a5bad7;
}
#sidebar .facebook img
{
    width: auto;
}
#sidebar .facebook div
{
    margin-top: 10px;
}

#main
{
    width: 790px;
}

#footer
{
    line-height: 1; 

    width: 100%;
}
#footer .l_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 1080px;
    padding: 18px 0;

    background-color: #fff; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#footer .l_inner .company
{
    width: 250px;
}
#footer .l_inner .company .kagatane
{
    margin-top: 48px;
}
#footer .l_inner .company p
{
    font-size: 1.2rem;
    line-height: 1.2;
}
#footer .l_inner .company .btn
{
    width: 100%; 
    margin-top: 8px;
}
#footer .l_inner .company .btn a
{
    font-size: 1.2rem;
    line-height: 1;

    padding: 1em 0;

    text-align: center; 

    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
#footer .l_inner .category
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 420px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#footer .l_inner .category h4
{
    width: 100%;
}
#footer .l_inner .category ul
{
    width: 200px;
}
#footer .l_inner .category dl
{
    width: 174px;
}
#footer .l_inner .service
{
    width: 210px;
}
#footer .l_inner .shop
{
    width: 200px;
}
#footer .l_inner .category,
#footer .l_inner .service,
#footer .l_inner .shop
{
    margin-top: 10px;
    padding-left: 46px;
}
#footer .l_inner .category h4,
#footer .l_inner .service h4,
#footer .l_inner .shop h4
{
    font-size: 1.7rem;

    padding-bottom: .5em;

    letter-spacing: -.1em; 

    border-bottom: 1px solid #d2d2d2;
}
#footer .l_inner .category ul li,
#footer .l_inner .service ul li,
#footer .l_inner .shop ul li
{
    font-size: 1.3rem; 

    margin-top: .8em;
}
#footer .l_inner .category dl,
#footer .l_inner .service dl,
#footer .l_inner .shop dl
{
    font-size: 1.3rem; 

    margin-top: .8em;
}
#footer .l_inner .category dl dt:nth-child(n+2),
#footer .l_inner .service dl dt:nth-child(n+2),
#footer .l_inner .shop dl dt:nth-child(n+2)
{
    margin-top: 1em;
}
#footer .l_inner .category dl dd,
#footer .l_inner .service dl dd,
#footer .l_inner .shop dl dd
{
    margin: .4em 0 0 1em;
}
#footer .copy
{
    width: 100%;
    padding: 1.1rem 0;

    text-align: center; 

    background-color: #fffbf3;
}
#footer .copy small
{
    font-size: 1.1rem;
}

/* /unique */
/* animation */
#header .menu > div
{
    -webkit-transition: .24s all ease;
            transition: .24s all ease;
}

@media screen and (max-width: 768px)
{
    #header.menuopen ul
    {
        display: block !important;
    }
}

#header.menuopen .menu > div:nth-child(1)
{
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
}

#header.menuopen .menu > div:nth-child(2)
{
    opacity: 0;
}

#header.menuopen .menu > div:nth-child(3)
{
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
        -ms-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
}

/* /animation */
