@charset 'UTF-8';
/* util */
@media screen and (min-width: 426px)
{
    .sp
    {
        display: none !important;
    }
}

@media screen and (max-width: 425px)
{
    .pc
    {
        display: none !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

/* /util */
/* base */
@media screen and (max-width: 425px)
{
    html
    {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 426px)
{
    html
    {
        font-size: 10px;
    }
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'fot-tsukubrdgothic-std', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #504e47;
    background-color: #f8f6ee; 

    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

a
{
    font-size: inherit;

    display: block;

    cursor: pointer; 

    color: inherit;
}

img
{
    width: 100%; 

    pointer-events: none;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p
{
    font-size: 10px;
    line-height: 1;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /base */
/* skin */
#itemList .h2_01
{
    position: relative;
}
#itemList .h2_01 div
{
    font-size: 2.2rem;

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    margin-top: -1.2em;
    padding: 1.2em;

    text-align: center;
    letter-spacing: .1em; 

    background-color: rgba(255, 255, 255, .5);
}

#featureDetail .h2_01,
#about .company .h3_01,
#about .history .h3_01,
#order .order .h2_01
{
    font-size: 2.6rem;
    line-height: 1;
}

#index .seasonal .h3_01,
#index .pickup .h3_01,
#index .ranking .h3_01,
#index .feature .h3_01,
#featureList .h3_01,
#about .message .h2_01,
#guide .guide .h2_01,
#privacy .privacy .h2_01,
#qaa .qaa .h2_01,
#sitemap .sitemap .h2_01
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 3rem;

    text-align: center;
    letter-spacing: .06em;
}
#index .seasonal .h3_01 i,
#index .pickup .h3_01 i,
#index .ranking .h3_01 i,
#index .feature .h3_01 i,
#featureList .h3_01 i,
#about .message .h2_01 i,
#guide .guide .h2_01 i,
#privacy .privacy .h2_01 i,
#qaa .qaa .h2_01 i,
#sitemap .sitemap .h2_01 i
{
    font-family: 'fot-tsukubrdgothic-std', 'Hiragino Mincho ProN', 游明朝, 'Yu Mincho', YuMincho, HGS明朝E, メイリオ, Meiryo, serif; 

    display: block;

    margin-top: .6em;
}
@media screen and (max-width: 425px)
{
    #index .seasonal .h3_01 i,
    #index .pickup .h3_01 i,
    #index .ranking .h3_01 i,
    #index .feature .h3_01 i,
    #featureList .h3_01 i,
    #about .message .h2_01 i,
    #guide .guide .h2_01 i,
    #privacy .privacy .h2_01 i,
    #qaa .qaa .h2_01 i,
    #sitemap .sitemap .h2_01 i
    {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 426px)
{
    #index .seasonal .h3_01 i,
    #index .pickup .h3_01 i,
    #index .ranking .h3_01 i,
    #index .feature .h3_01 i,
    #featureList .h3_01 i,
    #about .message .h2_01 i,
    #guide .guide .h2_01 i,
    #privacy .privacy .h2_01 i,
    #qaa .qaa .h2_01 i,
    #sitemap .sitemap .h2_01 i
    {
        font-size: 1.7rem;
    }
}

#index .seasonal .ul_01,
#index .pickup .ul_01,
#itemList .ul_01,
#featureDetail .recommend .ul_01
{
    line-height: 1; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media screen and (max-width: 425px)
{
    #index .seasonal .ul_01 li,
    #index .pickup .ul_01 li,
    #itemList .ul_01 li,
    #featureDetail .recommend .ul_01 li
    {
        width: 46.4%;
    }
    #index .seasonal .ul_01 li:nth-child(2n),
    #index .pickup .ul_01 li:nth-child(2n),
    #itemList .ul_01 li:nth-child(2n),
    #featureDetail .recommend .ul_01 li:nth-child(2n)
    {
        margin-left: 7.2%;
    }
    #index .seasonal .ul_01 li:nth-child(n+3),
    #index .pickup .ul_01 li:nth-child(n+3),
    #itemList .ul_01 li:nth-child(n+3),
    #featureDetail .recommend .ul_01 li:nth-child(n+3)
    {
        margin-top: 7.2%;
    }
}
@media screen and (min-width: 426px)
{
    #index .seasonal .ul_01 li,
    #index .pickup .ul_01 li,
    #itemList .ul_01 li,
    #featureDetail .recommend .ul_01 li
    {
        width: 226px; 
        margin-left: 50px;
    }
    #index .seasonal .ul_01 li:nth-child(3n+1),
    #index .pickup .ul_01 li:nth-child(3n+1),
    #itemList .ul_01 li:nth-child(3n+1),
    #featureDetail .recommend .ul_01 li:nth-child(3n+1)
    {
        margin-left: 0;
    }
    #index .seasonal .ul_01 li:nth-child(n+4),
    #index .pickup .ul_01 li:nth-child(n+4),
    #itemList .ul_01 li:nth-child(n+4),
    #featureDetail .recommend .ul_01 li:nth-child(n+4)
    {
        margin-top: 28px;
    }
}
#index .seasonal .ul_01 li .name,
#index .pickup .ul_01 li .name,
#itemList .ul_01 li .name,
#featureDetail .recommend .ul_01 li .name
{
    font-size: 1.4rem; 

    margin-top: .4em;
}
#index .seasonal .ul_01 li .price,
#index .pickup .ul_01 li .price,
#itemList .ul_01 li .price,
#featureDetail .recommend .ul_01 li .price
{
    font-size: 1.2rem; 

    margin-top: .4em;
}
#index .seasonal .ul_01 li .stock,
#index .pickup .ul_01 li .stock,
#itemList .ul_01 li .stock,
#featureDetail .recommend .ul_01 li .stock
{
    font-size: 1.2rem;

    display: inline-block;

    margin-top: .6em;

    color: #fff; 
    background-color: #d89a2f;
}
@media screen and (max-width: 425px)
{
    #index .seasonal .ul_01 li .stock,
    #index .pickup .ul_01 li .stock,
    #itemList .ul_01 li .stock,
    #featureDetail .recommend .ul_01 li .stock
    {
        padding: .2em;
    }
}
@media screen and (min-width: 426px)
{
    #index .seasonal .ul_01 li .stock,
    #index .pickup .ul_01 li .stock,
    #itemList .ul_01 li .stock,
    #featureDetail .recommend .ul_01 li .stock
    {
        padding: .4em;
    }
}
#index .seasonal .ul_01 li .stock:after,
#index .pickup .ul_01 li .stock:after,
#itemList .ul_01 li .stock:after,
#featureDetail .recommend .ul_01 li .stock:after
{
    content: ' ◯';
}
#index .seasonal .ul_01 li .stock.exist,
#index .pickup .ul_01 li .stock.exist,
#itemList .ul_01 li .stock.exist,
#featureDetail .recommend .ul_01 li .stock.exist
{
    background-color: #e4dac4;
}
#index .seasonal .ul_01 li .stock.exist:after,
#index .pickup .ul_01 li .stock.exist:after,
#itemList .ul_01 li .stock.exist:after,
#featureDetail .recommend .ul_01 li .stock.exist:after
{
    content: ' ×';
}

#index .ranking .ul_01
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#index .ranking .ul_01 li
{
    position: relative;
}
@media screen and (max-width: 425px)
{
    #index .ranking .ul_01 li
    {
        width: 50%;
    }
    #index .ranking .ul_01 li:nth-child(n+4)
    {
        display: none;
    }
}
@media screen and (min-width: 426px)
{
    #index .ranking .ul_01 li
    {
        width: 158px;
    }
}
#index .ranking .ul_01 li:before
{
    position: absolute;
    top: 0;
    left: 50%;

    display: block;

    width: 2.4rem;
    height: 2.4rem; 

    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
#index .ranking .ul_01 li:nth-child(1):before
{
    content: '';

    background-color: #d6d595;
}
#index .ranking .ul_01 li:nth-child(2):before
{
    content: '';

    background-color: #cdd7dc;
}
#index .ranking .ul_01 li:nth-child(3):before
{
    content: '';

    background-color: #e2c0a2;
}
#index .ranking .ul_01 li a
{
    line-height: 1; 

    background-color: #fff;
}
#index .ranking .ul_01 li a .text
{
    padding: .2rem 1rem 1.6rem;
}
#index .ranking .ul_01 li a .text .no
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif; 
    font-size: 1.6rem;

    margin-top: .2em;
}
#index .ranking .ul_01 li a .text .name
{
    font-size: 1.2rem; 

    margin-top: .6em;
}
#index .ranking .ul_01 li a .text .price
{
    font-size: 1.1rem; 

    margin-top: .6em;
}

#index .feature .ul_01,
#featureList .ul_01
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media screen and (max-width: 425px)
{
    #index .feature .ul_01 li,
    #featureList .ul_01 li
    {
        width: 100%;
    }
    #index .feature .ul_01 li:nth-child(n+2),
    #featureList .ul_01 li:nth-child(n+2)
    {
        margin-top: 2.4rem;
    }
}
@media screen and (min-width: 426px)
{
    #index .feature .ul_01 li,
    #featureList .ul_01 li
    {
        width: 374px;
    }
    #index .feature .ul_01 li:nth-child(2n),
    #featureList .ul_01 li:nth-child(2n)
    {
        margin-left: 32px;
    }
    #index .feature .ul_01 li:nth-child(n+3),
    #featureList .ul_01 li:nth-child(n+3)
    {
        margin-top: 36px;
    }
}
#index .feature .ul_01 li a,
#featureList .ul_01 li a
{
    line-height: 1;
}
#index .feature .ul_01 li a time,
#featureList .ul_01 li a time
{
    font-size: 1.1rem; 

    margin-top: .6em;
}
@media screen and (max-width: 425px)
{
    #index .feature .ul_01 li a time,
    #featureList .ul_01 li a time
    {
        display: none;
    }
}
#index .feature .ul_01 li a div,
#featureList .ul_01 li a div
{
    font-size: 1.3rem; 

    margin-top: .4em;
}

@media screen and (max-width: 425px)
{
    #index .feature .div_01
    {
        width: 100%;
    }
}

@media screen and (min-width: 426px)
{
    #index .feature .div_01
    {
        width: 376px;
    }
}

#index .feature .div_01 a
{
    font-size: 1.4rem;
    line-height: 1; 

    padding: 1.2em 0;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #504e47;
}

#itemList .nav_01
{
    text-align: center;
}
#itemList .nav_01 > div
{
    display: inline-block;
}
#itemList .nav_01 > div:nth-child(n+2)
{
    margin-left: 10px;
}
#itemList .nav_01 > div a
{
    font-size: 1.4rem;
    line-height: 1;

    padding: .6em 1em;

    border-radius: 4px;
    background-color: #fff;
}
#itemList .nav_01 > div a:hover
{
    color: #fff; 
    background-color: #504e47;
}

#featureList .nav_01,
#itemList .nav_02
{
    text-align: center;
}
#featureList .nav_01 > div,
#itemList .nav_02 > div
{
    display: inline-block;
}
#featureList .nav_01 > div:nth-child(n+2),
#itemList .nav_02 > div:nth-child(n+2)
{
    margin-left: 10px;
}
#featureList .nav_01 > div a,
#itemList .nav_02 > div a
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 2.2rem;
    line-height: 1;

    padding: .1em .4em;

    color: #504e47; 
    border-radius: 4px;
    background-color: #fff;
}
#featureList .nav_01 > div a:hover,
#itemList .nav_02 > div a:hover
{
    color: #fff; 
    background-color: #504e47;
}
#featureList .nav_01 p,
#itemList .nav_02 p
{
    font-size: 1.3rem; 

    width: 100%;
    margin-top: 1.6rem;

    text-align: center;
}

#guide .guide .p_01,
#privacy .privacy .p_01,
#order .order .p_01
{
    font-size: 1.4rem;
    line-height: 1.4;

    text-align: center;
}

#about .message .nav_01,
#guide .guide .nav_01
{
    text-align: center;
}
#about .message .nav_01 div,
#guide .guide .nav_01 div
{
    display: inline-block;
}
#about .message .nav_01 div:nth-child(n+2),
#guide .guide .nav_01 div:nth-child(n+2)
{
    margin-left: 2.8rem;
}
#about .message .nav_01 div a,
#guide .guide .nav_01 div a
{
    font-size: 1.4rem;
    line-height: 1; 

    padding: .4em 1em;

    color: #fff;
    border-radius: 4px;
    background-color: #6d6d6d;
}
#about .message .nav_01 div a:before,
#guide .guide .nav_01 div a:before
{
    content: '▼ ';
}

#about .company .table_01,
#about .history .table_01,
#order .order .table_01
{
    font-size: 1.4rem;
    line-height: 1.4;

    width: 100%;
}
#about .company .table_01 *,
#about .history .table_01 *,
#order .order .table_01 *
{
    border: 1px solid #bfbfbf;
}
#about .company .table_01 th,
#about .history .table_01 th,
#order .order .table_01 th
{
    width: 186px;
    padding: 1.4em;

    background-color: #e4dac4;
}
#about .company .table_01 td,
#about .history .table_01 td,
#order .order .table_01 td
{
    padding: 1.4em;

    background-color: #fff;
}

/* /skin */
/* layou */
@media screen and (min-width: 426px)
{
    .container
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        min-width: 1080px; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 426px)
{
    #sidebar
    {
        margin: 160px 50px 0 0;
    }
}

@media screen and (min-width: 426px)
{
    #main
    {
        width: 780px; 
        margin-top: 160px;
    }
}

@media screen and (max-width: 425px)
{
    #footer
    {
        margin-top: 24%;
    }
}

@media screen and (min-width: 426px)
{
    #footer
    {
        margin-top: 150px;
    }
}

#index #sidebar,
#index #main
{
    margin-top: 40px;
}

@media screen and (max-width: 425px)
{
    #index section
    {
        padding: 0 6.25%;
    }
}

#index section:nth-child(n+2)
{
    margin-top: 5rem;
}

@media screen and (max-width: 425px)
{
    #index .seasonal
    {
        padding: 0 6.25%;
    }
}

#index .seasonal .ul_01
{
    margin-top: 3.4rem;
}

#index .pickup .ul_01
{
    margin-top: 3.4rem;
}

#index .ranking .ul_01
{
    margin-top: 3.4rem;
}

#index .feature .ul_01
{
    margin-top: 3.4rem;
}

#index .feature .div_01
{
    margin: 2.4rem auto 0;
}

#index #indexFacebook
{
    margin-top: 9rem;
}
@media screen and (max-width: 425px)
{
    #index #indexFacebook
    {
        margin: 9rem 6.25% 0;
    }
}

#itemList .nav_01
{
    margin-top: 3.6rem;
}

#itemList .ul_01
{
    margin-top: 3rem;
}

#itemList .nav_02
{
    margin-top: 8.2rem;
}

#featureList .ul_01
{
    margin-top: 3.4rem;
}

#featureList .nav_01
{
    margin-top: 4rem;
}

#featureDetail .recommend .ul_01
{
    margin-top: 3rem;
}

#about .message .nav_01
{
    margin-top: 4rem;
}

#about .message .messageContent
{
    margin-top: 7.4rem;
}

#about .company
{
    margin-top: 8.6rem;
}
#about .company .table_01
{
    margin-top: 2.6rem;
}

#about .history
{
    margin-top: 8.6rem;
}
#about .history .table_01
{
    margin-top: 2.6rem;
}

#guide .guide .p_01
{
    margin-top: 5rem;
}

#guide .guide .nav_01
{
    margin-top: 2.4rem;
}

#guide .guide .guideContent
{
    margin-top: 2.4rem;
}

#privacy .privacy .p_01
{
    margin-top: 5rem;
}

#privacy .privacy .privacyContent
{
    margin-top: 2.4rem;
}

#order .order .table_01
{
    margin-top: 4rem;
}

#order .order .p_01
{
    margin-top: 3.2rem;

    text-align: left;
}

#qaa .qaa .qaaContent
{
    margin-top: 7.6rem;
}

#sitemap .sitemap .sitemapContent
{
    margin-top: 7.6rem;
}

/* /layou */
/* unique */
#header
{
    line-height: 1; 

    position: relative;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;

    background-color: #f8f6ee;
}
@media screen and (max-width: 425px)
{
    #header
    {
        border-bottom: 2px solid #f8e764;
    }
}
@media screen and (min-width: 426px)
{
    #header
    {
        height: 100px; 

        border-bottom: 4px solid #f8e764;
    }
}
#header .l_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100%; 
    margin: 0 auto;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media screen and (max-width: 425px)
{
    #header .l_inner
    {
        width: 100%;
        height: 18.75vw; 
        padding: 0 4.6%;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (min-width: 426px)
{
    #header .l_inner
    {
        width: 1080px; 

        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}
#header .l_inner h1
{
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
@media screen and (max-width: 425px)
{
    #header .l_inner h1
    {
        width: 39.37%; 
        margin: 0 auto;
    }
}
@media screen and (min-width: 426px)
{
    #header .l_inner h1
    {
        margin: 0 auto 24px;
    }
}
#header .l_inner .menu
{
    cursor: pointer;
    text-align: center;
    pointer-events: all; 

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
@media screen and (min-width: 426px)
{
    #header .l_inner .menu
    {
        width: 60px;
    }
}
#header .l_inner .menu img
{
    width: auto;
}
@media screen and (max-width: 425px)
{
    #header .l_inner .menu .open img
    {
        width: 5.78vw !important;
    }
    #header .l_inner .menu .close img
    {
        width: 4.84vw !important;
    }
}
#header .l_inner .login
{
    margin-right: 42px; 

    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
@media screen and (max-width: 425px)
{
    #header .l_inner .login
    {
        display: none;
    }
}
#header .l_inner .cart
{
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}
@media screen and (max-width: 425px)
{
    #header .l_inner .cart img
    {
        width: 5.78vw !important;
    }
}
#header .l_inner .menu,
#header .l_inner .login,
#header .l_inner .cart
{
    text-align: center;
}

@media screen and (max-width: 425px) and (max-width: 425px)
{
    #header .l_inner .menu,
    #header .l_inner .login,
    #header .l_inner .cart
    {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 425px) and (min-width: 426px)
{
    #header .l_inner .menu,
    #header .l_inner .login,
    #header .l_inner .cart
    {
        font-size: 16px;
    }
}
@media screen and (min-width: 426px)
{
    #header .l_inner .menu,
    #header .l_inner .login,
    #header .l_inner .cart
    {
        font-size: 10px;

        margin-bottom: 26px;
    }
}
#header .l_inner .menu img,
#header .l_inner .login img,
#header .l_inner .cart img
{
    display: block;

    width: auto; 
    margin: 0 auto 1rem;
}
#header .gnav
{
    position: absolute;
    z-index: 9; 
    left: 0;

    width: 100%;
}
@media screen and (max-width: 425px)
{
    #header .gnav
    {
        top: 100%;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        background-color: #fff; 

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav
    {
        top: 100px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        min-width: 1080px;
        padding: 24px 0;

        background-color: rgba(248, 246, 238, .9); 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
#header .gnav .login
{
    line-height: 1; 

    padding: 1em 4.6%;

    color: #fff;
    background-color: #4e4c45;

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media screen and (max-width: 425px) and (max-width: 425px)
{
    #header .gnav .login
    {
        font-size: 4.0625vw;
    }
}

@media screen and (max-width: 425px) and (min-width: 426px)
{
    #header .gnav .login
    {
        font-size: 26px;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .login
    {
        display: none;
    }
}
#header .gnav .login i
{
    display: inline-block;

    width: 6.9vw; 
    margin-right: .6em;

    vertical-align: middle;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_01
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_01
    {
        width: 216px; 
        padding-right: 36px;

        border-right: 1px solid #e4dac4;
    }
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_01 ul
    {
        background-color: #e4dac4;
    }
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_01 ul li
    {
        padding: 1rem 0;

        border-top: 1px solid #fff; 
        border-bottom: 1px solid #e4dac4;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_01 ul li
    {
        padding: 1rem 0;

        border-bottom: 1px solid #e4dac4;
    }
}
#header .gnav .l_box_01 ul li a
{
    font-size: 1.5rem;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_01 ul li a
    {
        padding: .4rem 4.6%;
    }
}
#header .gnav .l_box_01 ul li a i
{
    display: inline-block;

    width: 25px;
    margin-right: 8px;

    text-align: center; 
    vertical-align: middle;
}
#header .gnav .l_box_01 ul li a i img
{
    width: auto;
}
#header .gnav .l_box_01 div
{
    margin-top: 8px;
}
#header .gnav .l_box_01 div a img
{
    width: auto;
}
#header .gnav .l_box_02
{
    position: relative;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_02
    {
        width: 864px; 
        padding-left: 38px;
    }
}
#header .gnav .l_box_02 .ttl
{
    font-size: 1.5rem;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02 .ttl
    {
        display: none;
    }
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02 .all
    {
        padding: 1em 4.6%;
    }
}
@media screen and (max-width: 425px) and (max-width: 425px)
{
    #header .gnav .l_box_02 .all
    {
        font-size: 4.0625vw;
    }
}
@media screen and (max-width: 425px) and (min-width: 426px)
{
    #header .gnav .l_box_02 .all
    {
        font-size: 26px;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_02 .all
    {
        font-size: 1.5rem; 

        position: absolute;
        top: 0;
        right: 0;
    }
}
#header .gnav .l_box_02 .all img
{
    display: inline-block;

    width: .4em;
    margin-right: .6rem;

    vertical-align: baseline;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02 .all img
    {
        display: none;
    }
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02 .future
    {
        padding: 1em 4.6%; 

        border-top: 1px solid #e4dac4;
    }
}
@media screen and (max-width: 425px) and (max-width: 425px)
{
    #header .gnav .l_box_02 .future
    {
        font-size: 4.0625vw;
    }
}
@media screen and (max-width: 425px) and (min-width: 426px)
{
    #header .gnav .l_box_02 .future
    {
        font-size: 26px;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_02 .future
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        margin-top: 1rem; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
#header .gnav .l_box_02 .future li a img
{
    width: auto;
}
#header .gnav .l_box_02 .category
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_02 .category
    {
        margin-top: 10px;
    }
}
#header .gnav .l_box_02 .category li
{
    width: 50%; 

    border-top: 1px solid #e4dac4;
}
#header .gnav .l_box_02 .category li:nth-child(2n)
{
    border-left: 1px solid #e4dac4;
}
#header .gnav .l_box_02 .category li:nth-child(2n) a
{
    padding-left: 1em !important;
}
#header .gnav .l_box_02 .category li a
{
    padding: 1em 0 1em 4.6vw;
}
@media screen and (max-width: 425px)
{
    #header .gnav .l_box_02 .category li a
    {
        font-size: 4.0625vw;
    }
}
@media screen and (min-width: 426px)
{
    #header .gnav .l_box_02 .category li a
    {
        font-size: 26px;
    }
}
#header .gnav .l_box_02 .category li a img
{
    display: inline-block;

    width: 5.6vw; 
    margin-right: 1em;

    vertical-align: middle;
}
#header .gnav .l_box_02 .category dl
{
    width: 164px;
}
#header .gnav .l_box_02 .category dl dt
{
    font-size: 1.5rem; 

    margin-bottom: 10px;
}
#header .gnav .l_box_02 .category dl dt i
{
    display: inline-block;

    margin-right: .6em; 

    vertical-align: top;
}
#header .gnav .l_box_02 .category dl dt i img
{
    width: auto;
}
#header .gnav .l_box_02 .category dl dd
{
    font-size: 1.4rem; 

    margin: 6px 0 0 30px;
}

#sidebar
{
    line-height: 1; 

    width: 250px;
}
@media screen and (max-width: 425px)
{
    #sidebar
    {
        display: none;
    }
}
#sidebar .voice
{
    position: relative;

    width: 100%;
    height: 130px;
}
#sidebar .voice .text
{
    font-size: 1.1rem;
    line-height: 1.6; 

    padding: 1rem 2rem;

    border: 1px dotted #000;
    border-radius: 6px;
}
#sidebar .voice figure
{
    position: absolute;
    top: 18px;
    right: 12px;
}
#sidebar .voice figure figcaption
{
    font-size: 1rem; 

    position: absolute;
    top: 80px;
    right: 0;

    width: 250px;
    padding-left: 80px;

    text-align: center;
}
#sidebar nav .category
{
    background-color: #fff;
}
#sidebar nav .category .feature a,
#sidebar nav .category .new a
{
    font-size: 1.7rem; 

    padding: .4em 1em;
}
#sidebar nav .category .feature a i,
#sidebar nav .category .new a i
{
    display: inline-block;

    margin-right: .4em; 

    vertical-align: bottom;
}
#sidebar nav .category .feature a i img,
#sidebar nav .category .new a i img
{
    width: auto;
}
#sidebar nav .category dl dt
{
    font-size: 1.7rem; 

    margin-bottom: 0;
    padding: .4em 1em;

    border-top: 1px solid #f8f6ee;
}
#sidebar nav .category dl dt:nth-child(n+2)
{
    margin-top: .4em;
}
#sidebar nav .category dl dt i
{
    display: inline-block;

    margin-right: .4em; 

    vertical-align: bottom;
}
#sidebar nav .category dl dt i img
{
    width: auto;
}
#sidebar nav .category dl dd
{
    font-size: 1.4rem; 

    margin-top: 1em;
    padding-left: 48px;
}
#sidebar nav .category dl dd:last-child
{
    padding-bottom: .8rem;
}
#sidebar nav .category .all
{
    border-top: 1px solid #f8f6ee;
}
#sidebar nav .category .all a
{
    font-size: 1.3rem; 

    padding: 1em;

    background-color: #fff;
}
#sidebar .original
{
    margin-top: 12px;
    padding: 18px;

    background-color: #e4dac4;
}
#sidebar .original h4
{
    font-size: 1.8rem;
}
#sidebar .original h4 i
{
    display: inline-block;

    margin-right: .6em; 

    vertical-align: middle;
}
#sidebar .original h4 i img
{
    width: auto;
}
#sidebar .original p
{
    font-size: 1.2rem;
    line-height: 1.2;

    margin: .6em 0;

    letter-spacing: -.06rem;
}
#sidebar .menu
{
    margin-top: 12px;

    background-color: #e4dac4;
}
#sidebar .menu li a
{
    font-size: 15px; 

    padding: 12px 18px;
}
#sidebar .menu li a i
{
    display: inline-block;

    width: 25px;
    margin-right: .8em;

    text-align: center; 
    vertical-align: middle;
}
#sidebar .menu li a i img
{
    width: auto;
}
#sidebar .facebook
{
    margin-top: 12px;
    padding: 16px 20px; 

    border: 1px solid #a5bad7;
}
#sidebar .facebook img
{
    width: auto;
}
#sidebar .facebook div
{
    margin-top: 10px;
}

#footer
{
    line-height: 1; 

    width: 100%;
}
#footer .l_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 1080px;
    padding: 18px 0;

    background-color: #fff; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#footer .l_inner .company
{
    width: 250px;
}
#footer .l_inner .company .kagatane
{
    margin-top: 48px;
}
#footer .l_inner .company p
{
    font-size: 1.2rem;
    line-height: 1.2;
}
#footer .l_inner .company .btn
{
    width: 100%; 
    margin-top: 8px;
}
#footer .l_inner .company .btn a
{
    font-size: 1.2rem;
    line-height: 1;

    padding: 1em 0;

    text-align: center; 

    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
#footer .l_inner .category
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 420px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#footer .l_inner .category h4
{
    width: 100%;
}
#footer .l_inner .category ul
{
    width: 200px;
}
#footer .l_inner .category dl
{
    width: 174px;
}
#footer .l_inner .service
{
    width: 210px;
}
#footer .l_inner .shop
{
    width: 200px;
}
#footer .l_inner .category,
#footer .l_inner .service,
#footer .l_inner .shop
{
    margin-top: 10px;
    padding-left: 46px;
}
#footer .l_inner .category h4,
#footer .l_inner .service h4,
#footer .l_inner .shop h4
{
    font-size: 1.7rem;

    padding-bottom: .5em;

    letter-spacing: -.1em; 

    border-bottom: 1px solid #d2d2d2;
}
#footer .l_inner .category ul li,
#footer .l_inner .service ul li,
#footer .l_inner .shop ul li
{
    font-size: 1.3rem; 

    margin-top: .8em;
}
#footer .l_inner .category dl,
#footer .l_inner .service dl,
#footer .l_inner .shop dl
{
    font-size: 1.3rem; 

    margin-top: .8em;
}
#footer .l_inner .category dl dt:nth-child(n+2),
#footer .l_inner .service dl dt:nth-child(n+2),
#footer .l_inner .shop dl dt:nth-child(n+2)
{
    margin-top: 1em;
}
#footer .l_inner .category dl dd,
#footer .l_inner .service dl dd,
#footer .l_inner .shop dl dd
{
    margin: .4em 0 0 1em;
}
#footer .copy
{
    width: 100%;
    padding: 1.1rem 0;

    text-align: center; 

    background-color: #f8f6ee;
}
#footer .copy small
{
    font-size: 1.1rem;
}

#hero
{
    width: 100%;

    background-color: #fbd282;
}
@media screen and (max-width: 425px)
{
    #hero
    {
        margin-top: 19.3vw;
    }
}
@media screen and (min-width: 426px)
{
    #hero
    {
        margin-top: 100px;
        padding: 30px 0 22px;
    }
}
@media screen and (max-width: 425px)
{
    #hero .inner
    {
        padding-bottom: 8vw;
    }
}
@media screen and (min-width: 426px)
{
    #hero .inner
    {
        width: 1080px; 
        margin: 0 auto;
    }
}
#hero .inner #picSlider .bx-wrapper
{
    position: relative;

    width: 100% !important; 
    margin: 0 auto;
}
@media screen and (min-width: 426px)
{
    #hero .inner #picSlider .bx-wrapper
    {
        border-radius: 20px 20px 20px 0;
    }
}
#hero .inner #picSlider .bx-wrapper .bx-viewport
{
    margin: 0 auto;
}
@media screen and (min-width: 426px)
{
    #hero .inner #picSlider .bx-wrapper .bx-viewport
    {
        width: 920px !important;
    }
}
@media screen and (max-width: 425px)
{
    #hero .inner #picSlider .bx-controls
    {
        display: none;
    }
}
#hero .inner #picSlider .bx-controls .bx-controls-direction a
{
    position: absolute;
    top: 0;

    display: block;

    width: 80px;
    height: 100%; 
    margin-top: 11%;
}
#hero .inner #picSlider .bx-controls .bx-controls-direction a.bx-prev
{
    left: 0;

    border-radius: 20px 0 0 0;
    background: url(../images/index/hero_prev.png) rgba(255, 255, 255, .3) no-repeat center center;
}
#hero .inner #picSlider .bx-controls .bx-controls-direction a.bx-next
{
    right: 0;

    border-radius: 0 20px 20px 0;
    background: url(../images/index/hero_next.png) rgba(255, 255, 255, .3) no-repeat center center;
}
#hero .inner #picSlider .bx-controls .bx-pager
{
    position: absolute;
    right: 0;
    bottom: -22px;
}
#hero .inner #picSlider .bx-controls .bx-pager > div
{
    display: inline-block;

    width: 9px;
    height: 9px; 
    margin-left: 10px;
}
#hero .inner #picSlider .bx-controls .bx-pager > div a
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #fff;
}
#hero .inner #picSlider .bx-controls .bx-pager > div a.active
{
    background-color: #000;
}
#hero .inner #textSlider
{
    background-color: #fff;
}
@media screen and (max-width: 425px)
{
    #hero .inner #textSlider
    {
        position: relative;
        z-index: 1;

        width: 75.9vw; 
        margin: 0 auto;
        margin-top: 4%;

        border-radius: 1vw;
    }
}
@media screen and (min-width: 426px)
{
    #hero .inner #textSlider
    {
        width: 620px; 
        padding: 6px 20px;

        border-radius: 0 0 20px 20px;
    }
    #hero .inner #textSlider .bx-viewport
    {
        height: 20px !important;
    }
}
@media screen and (max-width: 425px)
{
    #hero .inner #textSlider ul li
    {
        width: 100%;
        padding: 4.8% 9.4% 4.8%; 

        text-align: center;
    }
}
@media screen and (min-width: 426px)
{
    #hero .inner #textSlider ul li
    {
        height: 20px;
    }
}
#hero .inner #textSlider ul li a
{
    line-height: 1;
}

@media screen and (max-width: 425px) and (max-width: 425px)
{
    #hero .inner #textSlider ul li a
    {
        font-size: 3.28125vw;
    }
}

@media screen and (max-width: 425px) and (min-width: 426px)
{
    #hero .inner #textSlider ul li a
    {
        font-size: 21px;
    }
}
@media screen and (min-width: 426px)
{
    #hero .inner #textSlider ul li a
    {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 425px)
{
    #hero .inner #textSlider ul li a span
    {
        line-height: 1.4; 

        display: block;

        margin-top: .6em;
    }
}
#hero .inner #textSlider ul li a i
{
    font-size: 1.2rem;

    display: inline-block; 

    padding: .2em 1em;

    letter-spacing: .1em;

    border: 1px solid #000;
}
@media screen and (min-width: 426px)
{
    #hero .inner #textSlider ul li a i
    {
        margin-right: 1em;
    }
}
#hero .inner #textSlider .bx-controls
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
@media screen and (min-width: 426px)
{
    #hero .inner #textSlider .bx-controls
    {
        display: none;
    }
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a
{
    position: absolute;
    top: 50%;

    display: block;

    width: 8.75vw;
    height: 8.75vw;
    margin-top: -4.25vw;

    border-radius: 1vw;
    background-color: #575349;
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2vw;
    height: 2vw; 

    content: '';

    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a.bx-prev
{
    left: -8%;
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a.bx-prev:after
{
    -webkit-transform: translate(-30%, -50%) rotate(-135deg);
        -ms-transform: translate(-30%, -50%) rotate(-135deg);
            transform: translate(-30%, -50%) rotate(-135deg);
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a.bx-next
{
    right: -8%;
}
#hero .inner #textSlider .bx-controls .bx-controls-direction a.bx-next:after
{
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}
#hero .inner #textSlider .bx-controls .bx-pager
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    margin-bottom: -7%;

    text-align: center;
}
#hero .inner #textSlider .bx-controls .bx-pager > div
{
    display: inline-block;

    width: 2.4vw;
    height: 2.4vw;
}
#hero .inner #textSlider .bx-controls .bx-pager > div:nth-child(n+2)
{
    margin-left: 2.4%;
}
#hero .inner #textSlider .bx-controls .bx-pager > div a
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #fff;
}
#hero .inner #textSlider .bx-controls .bx-pager > div a.active
{
    background-color: #000;
}

#indexFacebook
{
    background-color: #fff;
}
@media screen and (max-width: 425px)
{
    #indexFacebook
    {
        padding: 6.25%;
    }
}
@media screen and (min-width: 426px)
{
    #indexFacebook
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        padding: 26px 40px 34px 26px; 

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media screen and (max-width: 425px)
{
    #indexFacebook .l_box_01
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px)
{
    #indexFacebook .l_box_01
    {
        width: 160px;
    }
}
#indexFacebook .l_box_01 h3
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 3rem;

    letter-spacing: .1em; 

    color: #5b84c3;
}
@media screen and (max-width: 425px)
{
    #indexFacebook .l_box_01 h3
    {
        text-align: center;
    }
}
@media screen and (max-width: 425px)
{
    #indexFacebook .l_box_01 figure
    {
        margin-top: 2.8rem;
    }
}
@media screen and (min-width: 426px)
{
    #indexFacebook .l_box_01 figure
    {
        margin-top: 14px;
    }
}
@media screen and (max-width: 425px)
{
    #indexFacebook .l_box_02
    {
        margin-top: 6.25%;
    }
}
@media screen and (min-width: 426px)
{
    #indexFacebook .l_box_02
    {
        width: 530px;
    }
}
#indexFacebook .l_box_02 h4
{
    font-size: 1.5rem;
}
#indexFacebook .l_box_02 p
{
    font-size: 1.3rem;
    line-height: 1.5; 

    margin-top: 1em;
}
#indexFacebook .l_box_02 .information
{
    line-height: 1; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 2rem;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
#indexFacebook .l_box_02 .information time
{
    font-size: 1.2rem;

    display: inline-block;

    vertical-align: middle;

    color: #959595; 

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#indexFacebook .l_box_02 .information .good
{
    font-size: 1.2rem;

    display: inline-block;

    margin-top: -3px;

    vertical-align: middle;

    color: #959595;
}
#indexFacebook .l_box_02 .information .good img
{
    display: inline-block;

    width: auto; 
    margin: 0 .4rem 0 1.8rem;

    vertical-align: bottom;
}
#indexFacebook .l_box_02 .information .link
{
    font-size: 1.2rem;

    display: inline-block;

    margin-left: auto;

    vertical-align: middle;

    color: #5b84c3;
}
@media screen and (max-width: 425px)
{
    #indexFacebook .l_box_02 .information .link img
    {
        margin-top: 3rem;
    }
}
@media screen and (min-width: 426px)
{
    #indexFacebook .l_box_02 .information .link img
    {
        display: inline-block;

        width: auto; 
        margin: 0 .4rem 0 1.8rem;

        vertical-align: bottom;
    }
}

#itemDetail #main header .image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row word;
        flex-flow: row word;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#itemDetail #main header .image > div
{
    width: 630px;
}
#itemDetail #main header .image > ul
{
    width: 140px;
}
#itemDetail #main header .image > ul li:nth-child(n+2)
{
    margin-top: 15px;
}

#itemDetail #main h1
{
    font-size: 2.6rem;
    line-height: 1.4;

    margin-bottom: 3.6rem;
    padding: .8em 0;

    border-bottom: 1px solid #504e47;
}

#itemDetail #main .detail
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#itemDetail #main .detail .code
{
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;

    width: 450px;

    color: #969696;
}
#itemDetail #main .detail .cart_box
{
    font-size: 1.4rem;
    line-height: 1; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 330px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#itemDetail #main .detail .cart_box > div:nth-child(2n+1)
{
    width: 116px;
}
#itemDetail #main .detail .cart_box > div:nth-child(2n)
{
    width: 214px;
}
#itemDetail #main .detail .cart_box > div:nth-child(n+3)
{
    margin-top: 16px;
}
#itemDetail #main .detail .cart_box > div.price
{
    text-align: right;
}
#itemDetail #main .detail .cart_box > div.price strong
{
    font-size: 2.2rem;
    font-weight: normal;
}
#itemDetail #main .detail dl
{
    font-size: 1.3rem;
    line-height: 1.8; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 3.8rem;
    padding: 1em 1.2em;

    border: 1px solid #d3d3d3;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#itemDetail #main .detail dl dt
{
    font-weight: bold; 

    width: 5em;
}
#itemDetail #main .detail dl dd
{
    width: calc(100% - 5em);
}
#itemDetail #main .detail p
{
    font-size: 1.4rem;
    line-height: 1.6; 

    margin: 1.2em 0;
}
#itemDetail #main .detail .image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#itemDetail #main .detail .image li:nth-child(n+3)
{
    margin-top: 2px;
}

#featureDetail article header h1
{
    font-size: 2.6rem;
    line-height: 1.4; 

    margin: 1em 0;
}

#featureDetail article header p
{
    font-size: 1.4rem;
    line-height: 1.4;
}

#featureDetail article main section,
#featureDetail article main aside
{
    margin-top: 3rem;
    padding-top: 3rem; 

    border-top: 1px dotted #504e47;
}

#featureDetail article main .img_text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#featureDetail article main .img_text figure
{
    width: 370px;
}
#featureDetail article main .img_text div
{
    width: 390px;
}
#featureDetail article main .img_text div h2
{
    font-size: 2rem;
    font-weight: bold;
}
#featureDetail article main .img_text div p
{
    font-size: 1.4rem;
    line-height: 1.4; 

    margin-top: 2em;
}
#featureDetail article main .img_text div p:nth-child(n+3)
{
    margin-top: 1em;
}
#featureDetail article main .img_text div p small
{
    font-size: 1.2rem;
    line-height: 1;
}

#featureDetail article main .recipe .ttl
{
    font-size: 2.6rem;

    padding: 1em 0;
}

#featureDetail article main .recipe .ingredients
{
    padding: 2.2rem 2.4rem; 

    border: 1px solid #d3d3d3;
}
#featureDetail article main .recipe .ingredients h3
{
    font-size: 1.5rem;
    font-weight: bold;
}
#featureDetail article main .recipe .ingredients p
{
    font-size: 1.5rem;
    line-height: 1.4; 

    margin-top: 1em;
}

#featureDetail article main .recipe ul
{
    margin-top: 2.4rem;
}
#featureDetail article main .recipe ul li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#featureDetail article main .recipe ul li:nth-child(n+2)
{
    margin-top: 2.4rem;
    padding-top: 2.4rem; 

    border-top: 1px dotted #504e47;
}
#featureDetail article main .recipe ul li figure
{
    width: 206px;
}
#featureDetail article main .recipe ul li div
{
    width: 540px;
}
#featureDetail article main .recipe ul li div h3
{
    font-size: 2rem;
}
#featureDetail article main .recipe ul li div p
{
    font-size: 1.4rem;
    line-height: 1.4; 

    margin-top: 2.4rem;
}

#featureDetail article main .featurePickup
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 8rem;
    padding: 4.2rem;

    background-color: #fff; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#featureDetail article main .featurePickup h3
{
    font-size: 2rem; 

    width: 100%;
    margin-bottom: 1em;
}
#featureDetail article main .featurePickup figure
{
    width: 280px;
}
#featureDetail article main .featurePickup div
{
    width: 390px;
}
#featureDetail article main .featurePickup div p
{
    font-size: 1.4rem;
    line-height: 1.4;
}
#featureDetail article main .featurePickup div .name
{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4; 

    margin-top: 1em;
}
#featureDetail article main .featurePickup div .price
{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4; 

    margin-top: .2em;
}
#featureDetail article main .featurePickup div .btn
{
    margin-top: .6rem;
}
#featureDetail article main .featurePickup div .btn a
{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;

    display: inline-block;

    width: 190px;
    padding: .8em 0;

    text-align: center;

    color: #000; 
    border-radius: 4px;
    background-color: #f6d073;
}

.messageContent .ttl
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #fff; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.messageContent .ttl .text
{
    padding: 3rem 0 0 6rem;
}
.messageContent .ttl .text h4
{
    font-size: 3rem;
}
.messageContent .ttl .text h4 i
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif; 
    font-size: 2.2rem;

    display: block;

    margin-top: .4em;

    letter-spacing: .04em;
}
.messageContent .ttl .text .name
{
    font-size: 2rem;
    line-height: 1; 

    margin-top: 3.2rem;
}
.messageContent .ttl .text .name i
{
    font-size: 1.4rem;

    display: block;

    margin-bottom: .6em;
}
.messageContent .ttl figure
{
    width: 394px;
}

.messageContent p
{
    font-size: 1.4rem;
    line-height: 1.4;

    padding: 56px;

    background-color: #f4f0e6;
}

.guideContent h4
{
    font-size: 2.4rem;
    line-height: 1;

    padding: .8em 6.4rem;

    color: #fff; 
    background-color: #504e47;
}

.guideContent > div
{
    position: relative;
}

.guideContent .block
{
    padding: 0 6.4rem;

    background-color: #fff;
}

.guideContent .pageTop
{
    font-family: 'Crimson Text', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Original Yu Gothic', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1; 

    position: absolute;
    right: 6.4rem;
    bottom: 2.4rem;
}

.guideContent .order ol
{
    padding: 2.6rem 0 5.2rem;
}
.guideContent .order ol li
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.guideContent .order ol li:nth-child(n+2)
{
    margin-top: 2.6rem;
    padding-top: 2.6rem;

    border-top: 1px solid #504e47;
}
.guideContent .order ol li figure
{
    width: 290px;
}
.guideContent .order ol li div
{
    width: 330px;
}
.guideContent .order ol li div h5
{
    font-size: 1.7rem;
    line-height: 1;
}
.guideContent .order ol li div h5 i
{
    font-size: 1.4rem; 

    display: block;

    margin-top: 1em;
}
.guideContent .order ol li div h6
{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1; 

    margin-top: 2em;
}
.guideContent .order ol li div p
{
    font-size: 1.4rem;
    line-height: 1.4; 

    margin-top: 1em;
}

.guideContent .service .block
{
    padding-bottom: 10rem;
}

.guideContent .service .read
{
    font-size: 1.5rem;
    line-height: 1.4; 

    padding-top: 5.4rem;
}

.guideContent .service .box
{
    display: inline-block;

    width: 300px;
    margin-top: 3.6rem;

    text-align: center; 
    vertical-align: top;
}
.guideContent .service .box figure img
{
    width: auto;
}
.guideContent .service .box h5
{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2; 

    margin-top: 3rem;
}
.guideContent .service .box p
{
    font-size: 1.4rem;
    line-height: 1.6; 

    margin-top: .8em;
}

.guideContent .ssl .block
{
    padding: 2.6rem 6.4rem 6.4rem;
}
.guideContent .ssl .block p
{
    font-size: 1.4rem;
    line-height: 1.6;
}

.guideContent .issue .block
{
    padding: 2.6rem 6.4rem 6.4rem;
}
.guideContent .issue .block h5
{
    font-size: 1.4rem;
    font-weight: bold;
}
.guideContent .issue .block h5:nth-child(n+2)
{
    margin-top: 2.6rem;
}
.guideContent .issue .block p
{
    font-size: 1.4rem;
    line-height: 1.6; 

    margin-top: 1em;
}

.privacyContent
{
    padding: 6.2rem 6rem;

    background-color: #fff;
}
.privacyContent h3
{
    font-size: 1.8rem;
}
.privacyContent h3:nth-child(n+2)
{
    margin-top: 1.4em;
    padding-top: 1.4em; 

    border-top: 1px solid #504e47;
}
.privacyContent p
{
    font-size: 1.4rem;
    line-height: 1.4; 

    margin-top: 1.4rem;
}
.privacyContent address
{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4; 

    margin-top: 1.4rem;
}

.qaaContent > *
{
    font-size: 1.5rem;
    line-height: 1.4; 

    position: relative;

    padding-left: 5.2rem !important;
}

.qaaContent p
{
    font-size: 1.5rem;
    line-height: 1.4;
}
.qaaContent p:nth-child(n+2)
{
    margin-top: 1em;
}

.qaaContent dt
{
    font-weight: bold; 

    padding: 1em 0;

    border-top: 1px solid #504e47;
}
.qaaContent dt:before
{
    position: absolute;
    top: 15px;
    left: 12px;

    display: block;

    width: 13px;
    height: 19px;

    content: '';

    background: url('/assets/images/qaa/qaaContent_q.png') no-repeat center center;
}

.qaaContent dd
{
    padding: 2.6rem 0 5.2rem;

    border-top: 1px solid #dcdcdc;
}
.qaaContent dd:before
{
    position: absolute;
    top: 15px;
    left: 0;

    display: block;

    width: 38px;
    height: 38px;

    content: '';

    background: url('/assets/images/qaa/qaaContent_a.png') no-repeat center center;
}

.sitemapContent
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.sitemapContent .category
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 340px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.sitemapContent .category h4
{
    width: 100%;
}
.sitemapContent .category ul
{
    width: 48%;
}
.sitemapContent .category dl
{
    width: 48%;
}
.sitemapContent .service
{
    width: 220px;
}
.sitemapContent .shop
{
    width: 220px;
}
.sitemapContent .category,
.sitemapContent .service,
.sitemapContent .shop
{
    line-height: 1; 

    margin-top: 10px;
    padding-left: 46px;
}
.sitemapContent .category h4,
.sitemapContent .service h4,
.sitemapContent .shop h4
{
    font-size: 1.7rem;

    margin-bottom: 1em;
    padding-bottom: .5em;

    letter-spacing: -.1em; 

    border-bottom: 1px solid #d2d2d2;
}
.sitemapContent .category ul li,
.sitemapContent .service ul li,
.sitemapContent .shop ul li
{
    font-size: 1.4rem;
}
.sitemapContent .category ul li:nth-child(n+2),
.sitemapContent .service ul li:nth-child(n+2),
.sitemapContent .shop ul li:nth-child(n+2)
{
    margin-top: 1.4em;
}
.sitemapContent .category ul li a:before,
.sitemapContent .service ul li a:before,
.sitemapContent .shop ul li a:before
{
    font-size: 40%;
    line-height: 1; 

    display: inline-block;

    margin-right: 1em;

    content: '▶︎';
    vertical-align: baseline;
}
.sitemapContent .category dl,
.sitemapContent .service dl,
.sitemapContent .shop dl
{
    font-size: 1.4rem;
}
.sitemapContent .category dl dt:nth-child(n+2),
.sitemapContent .service dl dt:nth-child(n+2),
.sitemapContent .shop dl dt:nth-child(n+2)
{
    margin-top: 2em;
}
.sitemapContent .category dl dd,
.sitemapContent .service dl dd,
.sitemapContent .shop dl dd
{
    margin: .8em 0 0 1em;
}
.sitemapContent .category dl dd a:before,
.sitemapContent .service dl dd a:before,
.sitemapContent .shop dl dd a:before
{
    font-size: 40%;
    line-height: 1; 

    display: inline-block;

    margin-right: 1em;

    content: '▶︎';
    vertical-align: baseline;
}

/* /unique */
/* animation */
#header .menu .open
{
    display: block;
}

#header .menu .close
{
    display: none;
}

#header:not(.active) .gnav
{
    display: none;
}

#header.active .menu .open
{
    display: none;
}

#header.active .menu .close
{
    display: block;
}

/* /animation */
